<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TempIndex : Home</title>

    <!-- Links Required For Header -->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css" rel="stylesheet"/>
    <link rel="stylesheet" href="/header.css">

    <!-- Links Required For Home -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <link rel="stylesheet" href="/home.css">

    <!-- Links Required For About -->
    <link rel="stylesheet" href="/about.css">

    <!-- Links Required For Block -->
    <link rel="stylesheet" href="/block.css">

    <!-- Links Required For Contact -->
    <link rel="stylesheet" href="/contact.css">

    <!-- Links Required For FAQ -->
    <link rel="stylesheet" href="/faq.css">

    <!-- Links Required For Footer -->
    <link rel="stylesheet" href="/footer.css">

    <!-- Common Links OR Links Required For Index.ejs -->
    <link href="https://fonts.googleapis.com/css2??family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Agdasima:wght@400;700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/index.css">
</head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
<body>

      <%- include("partials/header.ejs"); %>

      <%- include("partials/home.ejs"); %>

      <%- include("partials/about.ejs"); %>

      <%- include("partials/block.ejs"); %>

      <%- include("partials/contact.ejs"); %>

      <%- include("partials/faq.ejs"); %>

      <%- include("partials/footer.ejs"); %>
      <!-- JavaScript Files -->
      <script
      src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js"
      integrity="sha512-7eHRwcbYkK4d9g/6tD/mhkf++eoTHwpNM9woBxtPUBWm67zeAfFC+HrdoE2GanKeocly/VxeLvIqwvCdk7qScg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer">
      </script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/ScrollTrigger.min.js"></script>

      <script src="/header.js"></script>
      <script src="/home.js"></script>
      <script src="/about.js"></script>
      <script src="/contact.js"></script>
      <script src="/faq.js"></script>
      <script src="/footer.js"></script>
      <script src="/recipeGenerator.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js"></script>
</body>
</html>